.my-footer {
    background-color: #3a3a3a;
    color: azure;
    margin-top: 1.2em;
    height: 5em;
    padding: 1em;
    font-size: 70%;
}

.datepicker {
  z-index: 10000;
}

.room-image {
  width: 50%;
}

.notie-container {
  box-shadow: none;
}
